body {
    background-color: rgb(143, 209, 221);
}

table {
    width: 40%;
    /* to put in centre table */
    margin: auto;
    font-size: 20px;
    border: 4px solid rgb(33, 33, 34);
    border-radius: 10px;
    /* spacing between border and letter  */
    padding: 5px;
    /* spacing between two borders of cells */
    border-spacing: 7px;
    /* table-layout: auto; */
}

th,
td {
    background-color: #96D4D4;
    padding: 5px;
    empty-cells: hide;
    text-align: center;
}

th {
    border: 5px solid rgb(5, 58, 231)!important;
}

.firstt {
    /* width: 25px; */
    border: solid rgb(224, 80, 40);
    border-width: 3px;
    border-radius: 10px;
}

.para {
    font-size: 50px;
    text-align: center;
    font-weight: 1000;
    color: rgb(23, 23, 239);
}